/*HEADER*/
header {
  background-color: #068a06;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  display: block;
  text-align: left;
  margin-top: 20px;
}
header h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
header #portada ul {
  width: 200px;
  height: 200px;
  list-style: none;
  display: block;
  list-style-type: disc;
  margin-bottom: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*MAIN*/
main {
  padding: 10px;
  overflow: hidden;
  display: block;
  background: linear-gradient(to bottom right, #00cc66, #00ff99);
}

#carouselExample {
  width: 800px;
  height: 600px;
  margin-top: 40px;
  margin-bottom: 20px;
}

@font-face {
  font-family: "Nexa";
  src: url("../Fonts/Nexa-ExtraLight.ttf");
}
p {
  font-family: "Nexa", cursive;
}

h3 {
  display: block;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  justify-content: center;
  justify-items: center;
  margin-top: 10px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding: 0%;
  margin: 0%;
  font-size: 24px;
  margin-bottom: 20px;
}

.video-container h2 {
  margin-bottom: 20px;
}

.video-container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mision {
  color: black;
  text-align: justify;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 5px;
  margin-bottom: 30px;
}

/*FLOTA*/
@keyframes movimiento {
  0% {
    width: 40%;
    height: 40%;
  }
  50% {
    width: 80%;
    height: 80%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.texto-flota {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  padding: 30px;
  font-size: 16px;
}

#imgGrid img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  animation-name: movimiento;
  animation-iteration-count: 1;
  animation-duration: 6s;
  animation-timing-function: linear;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
#imgGrid img:hover {
  transform: scale(1.1);
}

/*HISTORIA*/
#imgGrid img {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.parrafo {
  text-align: justify;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 60px;
}

/*TRABAJA CON NOSOTROS*/
.tcn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #00cc66, #00ff99);
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 90px;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 30px;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contacto div {
  margin-bottom: 10px;
}
.contacto label {
  margin-right: 90px;
  width: 90px;
  font-weight: bold;
}
.contacto input {
  width: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contacto textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.button {
  display: block;
  height: 100px;
  width: 100px;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: width 2s;
  font-family: sans-serif;
  font-size: 16px;
}
.button:hover {
  background: linear-gradient(to right, gray, white);
  width: 200px;
  transition: width 4s;
}

/*FOOTER*/
footer {
  height: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  clear: both;
}
footer .pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .pie h2 {
  display: block;
  font-size: 1.24em;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
footer .pie .social {
  color: #fff;
  font-style: oblique;
  text-align: left;
  float: left;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  width: 33%;
  font-weight: 800;
  padding: 20px;
}
footer .pie .label {
  display: inline-block;
  gap: 40px;
  color: white;
}
footer .pie .contact-info {
  color: #fff;
  font-style: oblique;
  text-align: right;
  width: 33%;
  font-weight: 800;
  padding: 20px;
  margin-bottom: 10px;
  flex-direction: column;
}
footer .pie .copyright {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  padding-left: 10px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
footer .pie .politica {
  padding-right: 10px;
  margin-bottom: 10px;
}
footer .pie .politica a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
footer .pie .politica a:hover {
  color: gray;
}

/*# sourceMappingURL=Estilos.css.map */
