/*Footer*/
footer {
  height: 410px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #333;
  color: $seg-color;
  padding: $base-padding;
  clear: both;
  font-family: $font-family;

  .pie {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      display: block;
      font-size: 1.24em;
      margin-block-start: 2em;
      margin-block-end: 2em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }

    .social {
      display: block;
      color: $seg-color;
      font-style: block;
      text-align: left;
      float: left;
      margin: 0;
      box-sizing: border-box;
      width: 33%;
      font-weight: 800;
      padding: 20px;

      ul {
        list-style: none; 
      }

      ul li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        text-decoration: none;
        color: white;

        img {
          max-width: 45px;
          height: auto;
          margin-right: 10px;
          color: white;
        }

        label {
          flex-grow: 1;
          text-align: left;
          color: white;
          font-family: $font-family;
        }
      }
    }
    .contact-info {
      color: $seg-color;
      font-style: oblique;
      text-align: right;
      width: 33%;
      font-weight: 800;
      padding: 20px;
      margin-bottom: 10px;
      flex-direction: column;
    }
    .copyright {
      width: 100%;
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      margin: auto;
      padding-left: 10px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      font-size: 12px;

      .politica {
        padding-right: 10px;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: white;
          transition: color 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            color: gray;
          }
        }
      }
    }
  }
}

/* Estilos para mobile */
@media (min-width: 320px) and (max-width: 767px) {
  footer {
    height: auto; 
    flex-direction: column;
    text-align: center;
    padding: $base-padding; 
  }

  .pie {
    flex-direction: column; 
  }

  .social,
  .contact-info {
    width: 100%; 
  }

  .social {
    text-align: center; 
    margin-bottom: 20px; 
  }

  .contact-info {
    text-align: center; 
  }

  .copyright {
    text-align: center; 
    font-size: 14px;
  }
}
