header {
  background-color: $primary-color;
  color: $seg-color;
  padding: $base-padding;
  display: flex;
  justify-content: space-between;
  align-items: left;
  display: block;
  text-align: left;
  margin-top: 20px;

  h1 {
    font-size: $font-size;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }

  #portada ul {
    width: 200px;
    height: 200px;
    list-style: none;
    display: block;
    list-style-type: disc;
    margin-bottom: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  }
}
/* Estilos para mobile */
@media (min-width: 320px) and (max-width: 767px) {
  header {
    text-align: center;
    padding: 10px;
    margin-top: 10px;

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    #portada ul {
      width: 100%;
      height: auto;
      padding-inline-start: 0;
      margin: 0;
    }
  }
}