/*HEADER*/
header {
  background-color: $primary-color;
  color: $seg-color;
  padding: $base-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: block;

  h1 {
    font-size: $font-size;
    font-weight: 600;
    text-align: center;
  }

  #portada ul {
    list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
