  /*HISTORIA*/
  #imgGrid img {
    width: $tamaño-imagen;
    height: $tamaño-imagen;
    padding: $base-padding;
  }
  #pp {
    width: 100%;
  }

  .parrafo {
    text-align: justify; 
    margin: 0 auto; 
    max-width: 900px; 
  }
  
  