  /*HISTORIA*/
  #imgGrid img {
    width: $tamaño-imagen;
    height: $tamaño-imagen;
    padding: $base-padding;
  }
  #pp {
    width: 100%;
  }

  @keyframes movimiento {
    0% {
      width: 40%;
      color: black;
    }
    50%{
      width: 80%;
      color: greenyellow;
    }
    100%{
      width: 100%;
      color: black;
    }
  }
  .parrafo {
    display: block;
    width: 100%;
    animation-name: movimiento;
    animation-iteration-count: 3;
    animation-duration: 10s;
    animation-timing-function: linear;
  }
  