  /*MAIN*/
  main {
    padding: $base-padding;
    overflow: hidden;
    display: block;
  }

  #carouselExample {
    width: 600px;
    height: 500px;
  }

  @font-face {
    font-family: "Nexa";
    src: url("../Fonts/Nexa-ExtraLight.ttf");
  }

  p {
    font-family: "Nexa", cursive;
  }