  /*MAIN*/
  main {
    padding: $base-padding;
    overflow: hidden;
    display: block;
    background: linear-gradient(to bottom right, #00cc66, #00ff99);
  }

  #carouselExample {
    width: 800px;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  @font-face {
    font-family: "Nexa";
    src: url("../Fonts/Nexa-ExtraLight.ttf");
  }

  p {
    font-family: "Nexa", cursive;
  }
  h3 {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
    
  }

  .video-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .video-container h2 {
    margin-bottom: 20px;
  }

  .video-container iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .mision {
    color: black;
    text-align: justify; 
    margin: 0 auto; 
    max-width: 900px;
    margin-top: 5px;
    margin-bottom: 30px;
  }