  /*TRABAJA CON NOSOTROS*/
  .tcn {
    background-color: #1e8000;
  }
  .contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 90px;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 30px;
    label {
      margin-right: 90px;
      width: 90px;
    }
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
  }
  .button{
    color: black;
    height: 100px;
    width: 100px;
    padding: 15px 30px;
    border-radius: 10px;
    border:none;
    background: linear-gradient(to right,green,#1e8000);
    transition: width 2s;
    font-family: sans-serif;
    font-size: 16px;
  
  &:hover{
    background: linear-gradient(to right,gray,white);
    width: 200px;
    transition: width 4s;
  } 
  }
